## Customer Behavior Analysis

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('dat/online_shoppers_intention.csv.gz')

In [3]:
df.head(5)

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [4]:
df.describe

<bound method NDFrame.describe of        Administrative  Administrative_Duration  Informational  \
0                   0                      0.0              0
1                   0                      0.0              0
2                   0                      0.0              0
3                   0                      0.0              0
4                   0                      0.0              0
...               ...                      ...            ...
12325               3                    145.0              0
12326               0                      0.0              0
12327               0                      0.0              0
12328               4                     75.0              0
12329               0                      0.0              0

       Informational_Duration  ProductRelated  ProductRelated_Duration  \
0                         0.0               1                 0.000000
1                         0.0               2                64.000000
2                         0.0               1                 0.000000
3                         0.0               2                 2.666667
4                         0.0              10               627.500000
...                       ...             ...                      ...
12325                     0.0              53              1783.791667
12326                     0.0               5               465.750000
12327                     0.0               6               184.250000
12328                     0.0              15               346.000000
12329                     0.0               3                21.250000

       BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  \
0         0.200000   0.200000    0.000000         0.0   Feb                 1
1         0.000000   0.100000    0.000000         0.0   Feb                 2
2         0.200000   0.200000    0.000000         0.0   Feb                 4
3         0.050000   0.140000    0.000000         0.0   Feb                 3
4         0.020000   0.050000    0.000000         0.0   Feb                 3
...            ...        ...         ...         ...   ...               ...
12325     0.007143   0.029031   12.241717         0.0   Dec                 4
12326     0.000000   0.021333    0.000000         0.0   Nov                 3
12327     0.083333   0.086667    0.000000         0.0   Nov                 3
12328     0.000000   0.021053    0.000000         0.0   Nov                 2
12329     0.000000   0.066667    0.000000         0.0   Nov                 3

       Browser  Region  TrafficType        VisitorType  Weekend  Revenue
0            1       1            1  Returning_Visitor    False    False
1            2       1            2  Returning_Visitor    False    False
2            1       9            3  Returning_Visitor    False    False
3            2       2            4  Returning_Visitor    False    False
4            3       1            4  Returning_Visitor     True    False
...        ...     ...          ...                ...      ...      ...
12325        6       1            1  Returning_Visitor     True    False
12326        2       1            8  Returning_Visitor     True    False
12327        2       1           13  Returning_Visitor     True    False
12328        2       3           11  Returning_Visitor    False    False
12329        2       1            2        New_Visitor     True    False

[12330 rows x 18 columns]>

In [5]:
df.shape

(12330, 18)

In [6]:
df.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [7]:
df.sample(5)

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
7093,2,40.2,2,26.1,10,186.700000,0.00,0.021429,0.0,0.0,Oct,2,2,3,3,New_Visitor,False,False
5543,5,82.6,1,14.2,8,66.533333,0.00,0.020000,0.0,0.0,Aug,4,1,3,1,New_Visitor,True,False
5955,0,0.0,0,0.0,5,20.200000,0.18,0.186667,0.0,0.0,Aug,3,2,4,20,Returning_Visitor,False,False
2951,1,3.5,0,0.0,11,332.500000,0.00,0.011111,0.0,0.2,May,2,2,2,2,Returning_Visitor,False,False
6333,0,0.0,0,0.0,1,1195.800000,0.00,0.000000,0.0,0.0,Aug,2,2,7,13,Returning_Visitor,False,False

In [51]:
for col in df:
  print(df[col].unique())

[ 0  1  2  4 12  3 10  6  5  9  8 16 13 11  7 18 14 17 19 15 24 22 21 20
 23 27 26]
[  0.         53.         64.6       ... 167.9107143 305.125
 150.3571429]
[ 0  1  2  4 16  5  3 14  6 12  7  9 10  8 11 24 13]
[  0.   120.    16.   ... 547.75 368.25 211.25]
[  1   2  10  19   0   3  16   7   6  23  13  20   8   5  32   4  45  14
  52   9  46  15  22  11  12  36  42  27  90  18  38  17 128  25  30  21
  51  26  28  31  24  50  96  49  68  98  67  55  35  37  29  34  71  63
  87  40  33  54  64  75  39 111  81  61  47  44  88 149  41  79  66  43
 258  80  62  83 173  48  58  57  56  69  82  59 109 287  53  84  78 137
 113  89  65  60 104 129  77  74  93  76  72 194 140 110 132 115  73 328
 160  86 150  95 130 151 117 124 127 125 116 105  92 157 154 220 187 112
 131 159  94 204 142 206 102 313 145  85  97 198 181 126 106 101 108 119
  70 122  91 276 100 291 114 172 217 141 133 156 136 180 135 195  99 362
 179 118 175 148 440 103 178 184 705 134 176 146 189 120 193 222 121 107
 305 199 439 223 230 280 377 310 158 486 153 139 182 221 229 216 170 202
 346 274 240 162 123 211 227 168 161 429 686 167 518 256 255 358 213 191
 282 155 138 246 237 271 171 414 219 262 409 243 241 197 449 143 188 391
 238 152 165 293 174 584 164 311 340 250 200 385 292 232 251 517 225 169
 309 235 501 224 275 318 144 397 343 245 186 337 351 166 349 423 359 163
 147 264 312 226 324 266 260 338 272 534 470 207 218 326 190 304 205 233
 401 177 330 286 247 357 315 231 339 283 374 248 279 281 234 261 290 336
 378 254 183 210 192]
[  0.          64.           2.66666667 ... 465.75       184.25
 346.        ]
[0.2        0.         0.05       ... 0.00382775 0.00086956 0.01114899]
[0.2        0.1        0.14       ... 0.01276133 0.01395349 0.02903061]
[ 0.         54.17976426 19.44707913 ... 78.81172527  3.68540082
 12.24171745]
[0.  0.4 0.8 1.  0.2 0.6]
['Feb' 'Mar' 'May' 'Oct' 'June' 'Jul' 'Aug' 'Nov' 'Sep' 'Dec']
[1 2 4 3 7 6 8 5]
[ 1  2  3  4  5  6  7 10  8  9 12 13 11]
[1 9 2 3 4 5 6 7 8]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 18 19 16 17 20]
['Returning_Visitor' 'New_Visitor' 'Other']
[False  True]
[False  True]

- The dataset consists of 10 numerical and 8 categorical variables.
- Variable `Revenue` is the target label. This binary variable is imbalanced, specifically 84.5% of user journeys did NOT result in a purchase; in other words `Revenue` is False.
- `Administrative`, `Administrative Duration`, `Informational`, `Informational Duration`, `Product Related`, and `Product Related Duration` represent the number of different types of pages visited by the visitor in that session and total time spent in each of these page categories. 
- The values of these features are derived from the URL information of the pages visited by the user and updated when a user takes an action, e.g, moving from one page to another. 
- Features `Bounce Rate`, `Exit Rate` and `Page Value` represent  metrics measured by Google Analytics for each page in the e-commerce site. 
- The value of `Bounce Rate` for a web page refers to the percentage of visitors who enter the site from that page and then leave (i.e., bounce) without triggering any other requests to the analytics server during that session. 
- The value of `Exit Rate` for a specific web page is calculated as for all page views to the page and it represents the percentage that the page was seen in the last session. 
- Feature `Page Value` represents the average value for a web page that a user visited before completing an e-commerce transaction. 
- Feature `Special Day` indicates the closeness of the site visiting time to a specific special day (e.g., Mother’s Day or Valentine's Day) in which the sessions are more likely to be finalized with transaction. The value of this attribute is determined by considering the dynamics of e-commerce such as the duration between the order date and delivery date. 
- The dataset also includes operating system, browser, region, traffic type, visitor type as returning or new visitor, a boolean value indicating whether the date of the visit is weekend, and month of the year.

# Tasks
## Task 1. Classification (50 points)

Build a predictive classification model using data entries corresponding to the months of June—December as training set, and those corresponding to February—March as test set. 

More specifically,

1. Fit a logistic regression and at least one other classification model. Find and explain important features. 
1. Report and interpret the most meaningful classifications metrics
1. Show and explain the hyper-parameter fitting process.

Point breakdown:

- (10 points) Basic exploratory data analysis (EDA) 
    - Appropriate univariate descriptive statistics and figures
    - Appropriate bi-variate descriptive statistics and figures
- ( 5 points) Advanced EDA
    - Free-response, shows us what they know! 
- ( 5 points) Train/test split
- (10 points) Feature selection
- (15 points) Model fitting
- ( 5 points) Performance points

In [8]:
df.isnull().sum()

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [9]:
df_copy = df.copy()

In [10]:
y = df_copy.pop('Revenue')
y.head(5)

0    False
1    False
2    False
3    False
4    False
Name: Revenue, dtype: bool

In [11]:
y.shape

(12330,)

In [22]:
percent = df['Revenue'].value_counts()[1]/sum([df['Revenue'].value_counts()[0], df['Revenue'].value_counts()[1]])
print(f"{percent:.02%}")

15.47%

In [13]:
df['VisitorType'].value_counts()

Returning_Visitor    10551
New_Visitor           1694
Other                   85
Name: VisitorType, dtype: int64

In [14]:
df['Revenue'].value_counts()

False    10422
True      1908
Name: Revenue, dtype: int64

In [15]:
df['Weekend'].value_counts()

False    9462
True     2868
Name: Weekend, dtype: int64

In [16]:
df['Month'].value_counts()

May     3364
Nov     2998
Mar     1907
Dec     1727
Oct      549
Sep      448
Aug      433
Jul      432
June     288
Feb      184
Name: Month, dtype: int64

In [17]:
df['SpecialDay'].value_counts()

0.0    11079
0.6      351
0.8      325
0.4      243
0.2      178
1.0      154
Name: SpecialDay, dtype: int64

In [18]:
df_rev = df.groupby(['Revenue']).sum()
df_rev

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType,Weekend
Revenue,,,,,,,,,,,,,,,
False,22071,768519.43860,4709,315122.064399,299264,1.115141e+07,263.856194,493.776335,20593.848732,713.2,22196,24382,32926,42505,2369
True,6475,227974.02935,1500,109922.602050,91985,3.579808e+06,9.763527,37.311261,52020.700715,44.2,3993,4681,5881,7673,499

In [19]:
df_visit = df.groupby(['VisitorType']).sum()
df_visit

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType,Weekend,Revenue
VisitorType,,,,,,,,,,,,,,,,
New_Visitor,4323,155697.766959,565,32588.278334,30585,1.078050e+06,8.912404,35.032803,18248.085596,34.2,3435,3875,5543,6534,479,422
Other,125,5329.125000,15,993.266667,1060,4.848441e+04,3.276866,5.384637,1546.304039,0.0,495,756,585,1163,7,16
Returning_Visitor,24098,835466.575991,5629,391463.121448,359604,1.360469e+07,261.430452,490.670156,52820.159812,723.2,22259,24432,32679,42481,2382,1470

In [20]:
df_wknd = df.groupby(['Weekend']).sum()
df_wknd

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType,Revenue
Weekend,,,,,,,,,,,,,,,
False,21449,750901.846634,4528,308524.003254,296515,1.123181e+07,221.723391,423.398390,54563.299256,598.6,20096,22663,29789,38553,1409
True,7097,245591.621316,1681,116520.663195,94734,3.499408e+06,51.896330,107.689206,18051.250191,158.8,6093,6400,9018,11625,499

In [21]:
corr = df.groupby(['Revenue', 'VisitorType']).sum()
corr

                           Administrative  Administrative_Duration  \
Revenue VisitorType
False   New_Visitor                  3393            121622.642118
        Other                          86              3598.541667
        Returning_Visitor           18592            643298.254815
True    New_Visitor                   930             34075.124842
        Other                          39              1730.583333
        Returning_Visitor            5506            192168.321175

                           Informational  Informational_Duration  \
Revenue VisitorType
False   New_Visitor                  446            24248.911667
        Other                         11              572.766667
        Returning_Visitor           4252           290300.386065
True    New_Visitor                  119             8339.366667
        Other                          4              420.500000
        Returning_Visitor           1377           101162.735383

                           ProductRelated  ProductRelated_Duration  \
Revenue VisitorType
False   New_Visitor                 21179             7.091282e+05
        Other                         668             2.835014e+04
        Returning_Visitor          277417             1.041393e+07
True    New_Visitor                  9406             3.689221e+05
        Other                         392             2.013427e+04
        Returning_Visitor           82187             3.190752e+06

                           BounceRates   ExitRates    PageValues  SpecialDay  \
Revenue VisitorType
False   New_Visitor           8.400961   29.255096   1739.791104        26.4
        Other                 3.262051    5.175918    101.102076         0.0
        Returning_Visitor   252.193181  459.345321  18752.955551       686.8
True    New_Visitor           0.511442    5.777707  16508.294492         7.8
        Other                 0.014815    0.208719   1445.201963         0.0
        Returning_Visitor     9.237270   31.324835  34067.204261        36.4

                           OperatingSystems  Browser  Region  TrafficType  \
Revenue VisitorType
False   New_Visitor                    2601     2866    4154         4920
        Other                           379      565     448          878
        Returning_Visitor             19216    20951   28324        36707
True    New_Visitor                     834     1009    1389         1614
        Other                           116      191     137          285
        Returning_Visitor              3043     3481    4355         5774

                           Weekend
Revenue VisitorType
False   New_Visitor            374
        Other                    6
        Returning_Visitor     1989
True    New_Visitor            105
        Other                    1
        Returning_Visitor      393

In [26]:
df_month = df.groupby(['Month']).sum()
df_month

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType,Weekend,Revenue
Month,,,,,,,,,,,,,,,,
Aug,1358,46208.585717,235,15377.720000,16566,5.510590e+05,7.885283,16.335648,2571.184257,0.0,897,1030,1407,1521,96,76
Dec,3793,135799.069028,885,65745.780954,48347,1.919510e+06,34.797567,71.329893,11801.010926,0.0,3892,4513,5861,7026,366,216
Feb,100,3104.525000,16,439.000000,2058,8.666670e+04,8.651934,13.643285,163.826743,43.0,353,401,490,510,28,3
Jul,1047,34073.722728,223,19664.816667,15728,5.260049e+05,10.660237,19.582716,1773.106673,0.0,905,1028,1475,1591,104,66
June,655,17029.424392,162,5889.823333,10387,3.494527e+05,10.109304,16.773806,976.734639,0.0,614,667,919,1213,47,29
Mar,3600,135838.483159,802,58494.868338,37775,1.549024e+06,41.434902,85.051385,7551.113004,0.0,3964,4370,5785,6062,481,192
May,6610,233703.101976,1426,91376.868009,89105,3.303088e+06,90.379267,164.329829,18271.814428,714.4,7132,7969,10546,15060,715,365
Nov,7847,272618.063249,1938,130817.544862,138024,5.271677e+06,57.737874,114.530192,21373.877339,0.0,6344,6748,9095,13354,791,760
Oct,2042,69140.700580,268,21228.142381,18428,6.132207e+05,6.505344,15.927259,4746.423532,0.0,1129,1223,1753,2348,144,115
Sep,1494,48977.792121,254,16010.101905,14831,5.615179e+05,5.458009,13.583583,3385.457907,0.0,959,1114,1476,1493,96,86

In [27]:
df_month.pop('Revenue')

Month
Aug      76
Dec     216
Feb       3
Jul      66
June     29
Mar     192
May     365
Nov     760
Oct     115
Sep      86
Name: Revenue, dtype: int64

In [28]:
df_month

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType,Weekend
Month,,,,,,,,,,,,,,,
Aug,1358,46208.585717,235,15377.720000,16566,5.510590e+05,7.885283,16.335648,2571.184257,0.0,897,1030,1407,1521,96
Dec,3793,135799.069028,885,65745.780954,48347,1.919510e+06,34.797567,71.329893,11801.010926,0.0,3892,4513,5861,7026,366
Feb,100,3104.525000,16,439.000000,2058,8.666670e+04,8.651934,13.643285,163.826743,43.0,353,401,490,510,28
Jul,1047,34073.722728,223,19664.816667,15728,5.260049e+05,10.660237,19.582716,1773.106673,0.0,905,1028,1475,1591,104
June,655,17029.424392,162,5889.823333,10387,3.494527e+05,10.109304,16.773806,976.734639,0.0,614,667,919,1213,47
Mar,3600,135838.483159,802,58494.868338,37775,1.549024e+06,41.434902,85.051385,7551.113004,0.0,3964,4370,5785,6062,481
May,6610,233703.101976,1426,91376.868009,89105,3.303088e+06,90.379267,164.329829,18271.814428,714.4,7132,7969,10546,15060,715
Nov,7847,272618.063249,1938,130817.544862,138024,5.271677e+06,57.737874,114.530192,21373.877339,0.0,6344,6748,9095,13354,791
Oct,2042,69140.700580,268,21228.142381,18428,6.132207e+05,6.505344,15.927259,4746.423532,0.0,1129,1223,1753,2348,144
Sep,1494,48977.792121,254,16010.101905,14831,5.615179e+05,5.458009,13.583583,3385.457907,0.0,959,1114,1476,1493,96

In [33]:
df_month_copy = df_month.copy()

In [ ]:
df_month.pop('Weekend')

In [34]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

pca_pipeline = make_pipeline(StandardScaler(), PCA(n_components=5, whiten=True))
df_reduced = pca_pipeline.fit_transform(df_month)
df_reduced.shape

(10, 5)

In [35]:
df_reduced

array([[-0.64277226, -0.06518219, -0.39451779,  0.14530319, -0.41396911],
       [ 0.39102293, -0.42631024,  1.08030563,  1.39833165,  2.13366237],
       [-0.90065711,  0.44663564, -0.27713985, -1.0412438 ,  0.58631671],
       [-0.64964199,  0.00479673, -0.14037111, -0.71681497,  0.14293207],
       [-0.78011613,  0.15359161, -0.25037584, -1.03194754,  0.70359222],
       [ 0.33794005, -0.10753812,  2.41789595, -0.65004301, -1.27219201],
       [ 1.69587566,  2.21524811, -0.52374768,  0.10913602, -0.0923706 ],
       [ 1.70949182, -1.9018961 , -0.98241883, -0.71174032, -0.14591506],
       [-0.52832569, -0.20340985, -0.47728967,  1.63489179, -1.27950653],
       [-0.6328173 , -0.11593558, -0.45234081,  0.86412699, -0.36255008]])

In [36]:
pca = pca_pipeline.named_steps['pca']
print(pca.explained_variance_ratio_)

[0.91652772 0.06928054 0.00992984 0.00264242 0.00129726]

### Split the Data
Build a predictive classification model using data entries corresponding to the months of June—December as training set, and those corresponding to February—March as test set.

In [48]:
df_month = df.groupby(['Month'])
df_month.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.000000,0,0.000000,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.000000,0,0.000000,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.000000,0,0.000000,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.000000,0,0.000000,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.000000,0,0.000000,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
184,0,0.000000,16,1210.397619,5,279.857143,0.003175,0.012764,0.000000,0.0,Mar,2,2,1,8,Returning_Visitor,False,False
185,0,0.000000,0,0.000000,20,927.450000,0.011111,0.027249,8.000741,0.0,Mar,1,1,3,1,Returning_Visitor,False,False
186,2,9.000000,0,0.000000,50,836.800000,0.000000,0.006340,0.000000,0.0,Mar,2,2,3,2,Returning_Visitor,False,False
187,10,293.778205,2,153.000000,96,3283.166739,0.001961,0.013509,0.000000,0.0,Mar,3,2,6,2,Returning_Visitor,True,False
188,9,111.500000,1,48.500000,49,1868.819697,0.000000,0.020709,1.706015,0.0,Mar,2,2,7,2,Returning_Visitor,False,True
2091,0,0.000000,0,0.000000,15,292.694444,0.000000,0.005128,54.980000,0.0,May,3,2,4,4,Returning_Visitor,False,True
2092,0,0.000000,0,0.000000,24,654.066667,0.000000,0.001449,0.000000,0.8,May,3,2,1,2,Returning_Visitor,False,False
2093,2,254.000000,1,39.000000,95,4990.959524,0.004124,0.015308,5.638103,0.0,May,2,2,1,6,Returning_Visitor,False,True
2094,0,0.000000,0,0.000000,4,158.000000,0.050000,0.100000,0.000000,0.0,May,2,2,4,13,Returning_Visitor,False,False
2095,0,0.000000,0,0.000000,77,3332.208333,0.002041,0.024720,0.000000,0.6,May,2,2,3,6,Returning_Visitor,False,False
5455,0,0.000000,0,0.000000,1,207.570248,0.000000,0.007937,0.000000,0.0,Oct,2,2,1,5,Returning_Visitor,False,False
5456,3,40.200000,0,0.000000,11,201.133333,0.000000,0.020000,0.000000,0.0,June,2,2,2,1,New_Visitor,False,False
5457,1,63.400000,0,0.000000,3,120.400000,0.000000,0.000000,42.293068,0.0,Oct,1,1,3,3,New_Visitor,False,True
5458,6,618.066667,0,0.000000,50,1342.083333,0.000000,0.004386,28.068050,0.0,June,2,2,6,11,New_Visitor,False,True
5459,0,0.000000,0,0.000000,2,7.000000,0.000000,0.100000,0.000000,0.0,June,2,2,7,1,Returning_Visitor,False,False
5460,3,152.600000,0,0.000000,28,608.883333,0.009375,0.031250,19.827709,0.0,Jul,2,2,7,13,Returning_Visitor,False,True
5461,7,56.300000,0,0.000000,15,315.400000,0.000000,0.011111,0.000000,0.0,Oct,2,2,1,2,New_Visitor,False,False
5462,0,0.000000,0,0.000000,20,419.600000,0.038095,0.068254,0.000000,0.0,Aug,3,2,3,3,Returning_Visitor,True,False
5463,1,39.200000,2,120.800000,7,80.500000,0.000000,0.010000,0.000000,0.0,Nov,3,2,4,2,New_Visitor,True,False
5464,3,89.600000,0,0.000000,57,1721.906667,0.000000,0.005932,204.007949,0.0,Nov,2,2,1,4,Returning_Visitor,True,True
5465,2,104.300000,0,0.000000,48,2307.661212,0.025510,0.035488,4.348146,0.0,Oct,1,1,4,1,Returning_Visitor,True,False
5466,0,0.000000,0,0.000000,4,41.400000,0.075000,0.125000,0.000000,0.0,Jul,3,2,6,1,Returning_Visitor,False,False
5467,4,204.200000,0,0.000000,31,652.376667,0.012121,0.016162,0.000000,0.0,Nov,1,1,6,1,Returning_Visitor,False,False
5468,17,180.133333,1,80.600000,180,6512.010952,0.002646,0.012249,0.000000,0.0,Sep,2,2,1,3,Returning_Visitor,False,False
5469,1,12.000000,0,0.000000,36,493.303390,0.000000,0.016606,0.000000,0.0,Oct,2,2,5,2,Returning_Visitor,False,False
5470,2,13.000000,0,0.000000,17,209.700000,0.023529,0.038235,0.000000,0.0,June,1,1,3,4,Returning_Visitor,False,False
5471,0,0.000000,0,0.000000,5,68.400000,0.000000,0.080000,0.000000,0.0,June,2,4,2,4,Returning_Visitor,False,False
5472,3,41.200000,0,0.000000,7,942.800000,0.000000,0.030000,0.000000,0.0,Aug,1,1,4,5,New_Visitor,False,False
5473,4,101.800000,0,0.000000,91,5692.211713,0.006452,0.033623,0.000000,0.0,Sep,4,1,9,1,Returning_Visitor,False,False
5478,2,47.400000,0,0.000000,14,478.600000,0.043750,0.079167,0.000000,0.0,Jul,4,1,1,4,Returning_Visitor,True,False
5479,0,0.000000,0,0.000000,13,710.066667,0.000000,0.007692,72.522838,0.0,Nov,1,1,2,2,Returning_Visitor,False,True
5481,0,0.000000,0,0.000000,34,1228.500000,0.039706,0.059314,0.000000,0.0,Aug,3,2,1,4,Returning_Visitor,False,False
5482,2,196.600000,0,0.000000,31,1514.300000,0.036364,0.066667,0.000000,0.0,Aug,1,8,7,1,Returning_Visitor,True,False
5483,3,33.200000,0,0.000000,10,278.433333,0.007143,0.026190,32.700345,0.0,Jul,2,2,6,1,Returning_Visitor,False,True
5486,2,55.400000,0,0.000000,25,402.750000,0.015385,0.034066,0.000000,0.0,Jul,3,2,5,1,Returning_Visitor,False,False
5488,10,1222.400000,0,0.000000,26,2988.883333,0.000000,0.002903,0.000000,0.0,Sep,2,2,1,2,Returning_Visitor,False,False
5494,0,0.000000,0,0.000000,24,968.692424,0.000000,0.000000,106.252517,0.0,Nov,1,1,9,2,Returning_Visitor,False,True
5496,0,0.000000,0,0.000000,16,1062.666667,0.000000,0.012500,54.567049,0.0,Sep,4,1,1,4,New_Visitor,False,True
5498,1,48.400000,0,0.000000,22,2707.386667,0.000000,0.009722,0.000000,0.0,Sep,3,2,1,1,Returning_Visitor,True,False
5511,6,53.000000,0,0.000000,40,778.833333,0.000000,0.009470,8.480846,0.0,Aug,1,1,1,4,New_Visitor,True,False
7982,0,0.000000,0,0.000000,1,0.000000,0.200000,0.200000,0.000000,0.0,Dec,2,2,2,1,Returning_Visitor,False,False
7983,0,0.000000,5,663.916667,47,2059.700000,0.005769,0.033243,0.000000,0.0,Dec,3,2,3,6,Returning_Visitor,False,False
7984,2,15.000000,0,0.000000,44,1412.270833,0.004348,0.015483,0.000000,0.0,Dec,2,2,1,2,New_Visitor,False,False
7985,0,0.000000,0,0.000000,14,561.666667,0.000000,0.025000,0.000000,0.0,Dec,2,2,9,10,Returning_Visitor,False,False
7989,4,106.500000,0,0.000000,12,806.250000,0.012500,0.029167,0.000000,0.0,Dec,2,2,1,2,Returning_Visitor,False,False

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
   X, y, test_size=0.20, random_state=0
)